<div id="<%= dom_id disciplina %>">
  <p>
    <strong>Titulo:</strong>
    <%= disciplina.titulo %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= disciplina.descricao %>
  </p>

  <p>
    <strong>Diasemana:</strong>
    <%= disciplina.dias_semana %>
  </p>

</div>
