<h1>Editing disciplina</h1>

<%= render "form", disciplina: @disciplina %>

<br>

<div>
  <%= link_to "Mostrar disciplina", @disciplina %> |
  <%= link_to "Voltar para disciplinas", disciplinas_path %>
</div>
