<p style="color: green"><%= notice %></p>

<h1>Disciplinas</h1>

<div id="disciplinas">
  <% @disciplinas.each do |disciplina| %>
    <%= render disciplina %>
    <p>
      <%= link_to "Mostrar disciplina", disciplina %>
    </p>
  <% end %>
</div>

<%= link_to "Nova disciplina", new_disciplina_path %>
